[submodule ".registry"]
	path = .registry
	url = https://github.com/isbool/isbool.r-universe.dev
	branch = HEAD
[submodule "ape"]
	path = ape
	url = https://github.com/EmmanuelParadis/ape
	registered = false
[submodule "phangornWebR"]
	path = phangornWebR
	url = https://github.com/isbool/phangorn-webR
