[submodule ".registry"]
	path = .registry
	url = https://github.com/isbool/isbool.r-universe.dev
	branch = HEAD
[submodule "phangornWebR"]
	path = phangornWebR
	url = https://github.com/isbool/phangorn-webR
